<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}Home
    <title>Logged in users</title>

{% block body %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Logged In as {{request.user}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    <div class="container my-4" >
<div class="container px-4 py-5" id="custom-cards">
    {% comment %} <h2 class="pb-1 border-bottom " color="red">The Big Three</h2> {% endcomment %}
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/Static/3.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The greatest story ever told</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/Static/logo.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>One Piece</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>1999- Today</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/Static/itachi.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Let your success tell people how hard you worked.</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/Static/4.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Naruto</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>1999-2014</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/Static/bleach.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">From Here on out I fight alone.</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/Static/bl.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Bleach</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>2001-2016</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/Static/bc.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">The story centers around Asta, a young boy born without any magic power. This is unknown to the world he lives in because seemingly everyone has some sort of magic power.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Today</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/Static/slime.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">That Time I Got Reincarnated as a Slime is about a salaryman who is murdered and reincarnates in a sword and sorcery world as a slime with unique powers and gathers allies to build his own nation of monsters</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Today</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="/Static/ace.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">The series follows one Eijun Sawamura, a baseball pitcher with a very unusual changeup pitch that has occurred naturally. He plans to go with his friends to a local high school and play baseball. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Today</small>
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </div>
  </div>
 </div>
    <a class="btn btn-primary" href="/logout" role="button" align="center">Logout</a>

{% endblock body %}

</html>